.download-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 5 5rem 5;
}

.download-left img{
    margin-top: 6rem;
    width: 80%;
}

.download-right {
    display: flex;
    flex-direction: column;
}

.download-right h3{
    font-size: 29px;
    font-weight: 400;
    color: #074028;
}

.download-btn{
    display: flex;
    background: #000;
    padding: 0px 35px;
    color: #fff;
    border-radius: 5px;
}

.apple_desc{
    padding: .5rem 0;
}

.play-logo {
    padding-top: .8rem;
    padding-right: .5rem;
}

.download-btn h1{
    font-size: 12px;
    font-weight: 400;
    color: #fff;
}

.apple{
    margin: .5rem 0;
}

.download-btn h2 {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.download-sec{
    display: flex;
    margin: 2rem 0;
    gap: 2rem;
}



@media screen  and (max-width: 600px){
    .download-content { 
        flex-direction: column;
    }
} 